.App {
  height: 20em;
  width: 30em;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightskyblue;
}

p{
  font-weight: normal;
  font-size: 25px;
}

span{
  text-shadow: 2px 2px 5px darkblue;
}
